body{
    font-family: 'Roboto', sans-serif;
}

.container{
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-image: url("../blackjack_assets/images/pikwizard-483a9b73f52b1d0d1b51a709d5b03f0c.jpg");
}

.heading{
    color: gray;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-blackjack-row-1{
    color: white;
}

.flex-blackjack-row-1 div{
    padding: 10px;
    height: 350px;
    text-align: center;
    flex: 1;
}

.buttons button{
    width: 85px;
    -webkit-box-shadow: 11px 7px 15px 10px rgba(0,0,0,0.64);
    box-shadow: 11px 7px 15px 10px rgba(0,0,0,0.64);
}

table, th, td{
    color: white;
    padding: 5px;
    border: 1px solid black;

}
